@model TheCoolMovieApp.Models.MovieModel
@{ if (UserModel.LoggedIn == true)
    {
        if (MovieModel.FilePath == null)
        {
            <h2>Add Movie:</h2>
            @using (Html.BeginForm("AddFileLocation", "Movie", FormMethod.Post))
            {
                @Html.Label("Title:")
                @Html.TextBoxFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
                @Html.Label("Year:")
                @Html.TextBoxFor(model => model.Year)
                @Html.Label("Country of Origin:")
                @Html.TextBoxFor(model => model.Origin)
                @Html.Label("Length:")
                @Html.TextBoxFor(model => model.Length)
                @Html.Label("File Location:")
                @Html.TextBox("sadf", "", new { @readonly = "readonly" })
                @Html.Label(MovieModel.FilePath)

                <button type="submit">Select File Location</button>
            }
        }
        else
        {
            @using (Html.BeginForm("AddNewMovie", "Movie", FormMethod.Post))
            {
                @Html.Label("Title:")
                @Html.TextBoxFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
                @Html.Label("Year:")
                @Html.TextBoxFor(model => model.Year)
                @Html.Label("Country of Origin:")
                @Html.TextBoxFor(model => model.Origin)
                @Html.Label("Length:")
                @Html.TextBoxFor(model => model.Length)
                @Html.Label("File Location:")
                @Html.TextBox("MoviePathTxtBox", MovieModel.FilePath, new { @readonly = "readonly" })

                <button type="submit">Add Movie</button>
            }

            @using (Html.BeginForm("AddFileLocation", "Movie", FormMethod.Post))
            {
                <button type="submit">Select New File Location</button>
            }
        }

    }
    else
    {
        <h3> Please Sign in to upload a movie.</h3>
    }
}