@model TheCoolMovieApp.Models.MovieModel

@{ if (UserModel.LoggedIn == true)
    {
        @using (Html.BeginForm("DeleteMovie", "Movie", FormMethod.Post))
        { 

            @Html.TextBoxFor(model => model.Title, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Year, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Origin, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Length, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Creator, new { style = "display: none;" })
            <button type="submit">Delete Movie</button>
        }
        <h2>Edit Movie:</h2>
        @using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Label("Title:")
            @Html.TextBoxFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
            @Html.Label("Year:")
            @Html.TextBoxFor(model => model.Year)
            @Html.Label("Country of Origin:")
            @Html.TextBoxFor(model => model.Origin)
            @Html.Label("Length:")
            @Html.TextBoxFor(model => model.Length)
            @Html.TextBoxFor(model => model.Creator, new { style = "display: none;" })
            <button type="submit">Submit Changes</button>
        }
    }
    else
    {
        <h3> Please Sign in to upload a movie.</h3>
    }
}