@model TheCoolMovieApp.Models.MovieModel

@{ if (UserModel.LoggedIn == true)
    {
        @using (Html.BeginForm("DeleteMovie", "Movie", FormMethod.Post))
        {

            @Html.TextBoxFor(model => model.Title, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Creator, new { style = "display: none;" })
            <button class="delete-btn" type="submit">Delete Movie</button>
        }
        <br />
        <br />
        <br />
        @using (Html.BeginForm("DownloadMovie", "Movie", FormMethod.Post))
        {

            @Html.TextBoxFor(model => model.Title, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Year, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Origin, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Length, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Creator, new { style = "display: none;" })
            <button class="download-btn" type="submit">Download Movie</button>
        }
        <br />
        <br />
        <br />
        <h2>Edit Movie:</h2>
        @using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Label("Title:")
            @Html.TextBoxFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
            @Html.Label("Year:")
            @Html.TextBoxFor(model => model.Year)
            @Html.Label("Country of Origin:")
            @Html.TextBoxFor(model => model.Origin)
            @Html.Label("Length:")
            @Html.TextBoxFor(model => model.Length)
            @Html.TextBoxFor(model => model.Creator, new { style = "display: none;" })
            <button type="submit">Submit Changes</button>
        }
        <br />
        <br />
        <h2>Rate:</h2>
        @using (Html.BeginForm("RateMovie", "Movie", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Title, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Year, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Origin, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Length, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Creator, new { style = "display: none;" })
            @Html.DropDownListFor(
            model => model.Rating,
            new SelectList(
                  new List<Object>{
                       new { value = 1, text = "1 Star" },
                       new { value = 2, text = "2 Stars" },
                       new { value = 3, text = "3 Stars" },
                       new { value = 4, text = "4 Stars" },
                       new { value = 5, text = "5 Stars"}
                    },
                  "value",
                  "text",
                   Model.Rating
           )
        )
            <button class="download-btn" type="submit">Leave Rating</button>
        }
        <br />
        <br />
        <h2>Comments:</h2>
        <br />
        <br />
        @using (Html.BeginForm("AddNewComment", "Movie", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Title, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Year, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Origin, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Length, new { style = "display: none;" })
            @Html.TextBoxFor(model => model.Creator, new { style = "display: none;" })
            <button type="submit">Edit/Add New Comment</button>
        }
        <div>
            <table class="table table-striped">
                @foreach (Tuple<string, string> comment in MovieModel.CommentList)
                {
                    <tr>
                        <td>@comment.Item1</td>
                        <td>@comment.Item2</td>
                    </tr>
                }
            </table>
        </div>

    }
    else
    {
        <h1>Must sign in first.</h1>
    }
}

<style>

    .download-btn, .delete-btn {
        float: right;
        width: 100%;
        transition-duration: 0.4s;
        border-radius: 10px;
        padding: 14px 40px;
    }

        .delete-btn:hover {
            background-color: #f44336;
            color: white;
        }

        .download-btn:hover {
            background-color: #4CAF50;
            color: white;
        }

    .div {
        width: 5px;
        height: 13px;
        display: inline-block;
    }
</style>