@model TheCoolMovieApp.Models.UserModel
@{ if (UserModel.LoggedIn == false)
    {

        @using (Html.BeginForm("Login", "UserAuthentication", FormMethod.Post))
        {
            @Html.Label("Email:")
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
            @Html.Label("Password:")
            @Html.TextBoxFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
            <button type="submit">Sign In</button>
        }
    }
    else
    {
        <h3> You are aready logged in!</h3>
    }
}